:root{
  --main-black: #343134;
  --main-white: #EDE9E0;
}

html{
  background: var(--main-black);
  color: var(--main-white);
}

h1{
  font-size: 4rem;
  margin: 0;
}

h2{
  font-size: 2.5rem;
}

.App{
  margin: 5%;
}

.NavBar{
  border-radius: 20px;
  height: 50px;
  width: 80%;
  background: var(--main-white);
  color: var(--main-black);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.NavBar > h3 {
  font-size: 1.4rem;
}